* {
    font-family: "Iosevka Nerd Font", monospace;
    margin: 0px;
    padding: 0px;
  }

window#waybar {
    background: transparent;
    color: #eceff4;
}

#tags{
    margin: 3px;
    background-color: #2e3440;
    border-radius: 5px;
}

#tags button {
    margin: 3px;
    color: #eceff4;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

#tags button.focused {
    border-bottom: 2px solid #5e81ac;
}

#clock, #network, #battery {
    padding: 0px 5px;
    margin: 3px;
    border-radius: 5px;
}

#clock {
    background-color: #5e81ac;
}

#network {
    background-color: #bf616a;
}

#battery {
    background-color: #a3be8c;
}
