@import "./rose-pine.css";

* {
    font-family: "Iosevka Nerd Font", monospace;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#tags {
    margin: 3px;
    background-color: @surface;
    border-radius: 5px;
    border: 1px solid @gold;
}

#tags button {
    margin: 3px;
    color: @text;
}

#tags button.focused {
    color: @gold;
}

#clock, #network, #battery, #custom-cmus {
    padding: 0px 5px;
    border: 1px solid @gold;
    border-radius: 5px;
    background-color: @surface;
    color: @text;
}
